/* src/components/AnimatedBackground.module.css */

.particlesContainer {
  position: absolute; /* Posição absoluta em relação à página */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; /* Coloca na camada de trás (camada 0) */
}